html {
	overflow-x: hidden;
}
html, body {
	height: 100%;
}
#strap-line {
	font-family: arial;
	text-align: center;
	font-weight: normal;
	padding:0;
	margin:0;
	line-height:0;
}
h1.sitesloganstep {
	color: white;
	font-size: 42px;
	font-weight: normal;
	padding:0;
	margin:0;
	line-height:42px;
}
#menu {
		z-index: 400;
}
#nav li.homelink a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	padding-top: 18px;
	margin: 0;
	width: 50px;
}
p.get-involved {
	color: white;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 36px;
	padding-left: 20px;
	padding-top: 15px;
	height: 72px;
	margin-bottom: 18px;
}#search-block-form .form-submit {
	margin-right:-20px;
}

#sidebar {
	display: inline;
	width: 200px;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
#pagetemplate-main-content #whats-on-page-view div.pane-content ul li div.views-field-teaser {
	display: inline;
	float: left;
	width: 550px;
	margin: 10px;
	padding: 0;
}
#pagetemplate-main-content li {
	margin: 0px 20px;
	/*display: inline;*/
	/*float: left;*/
		list-style-position: outside;
	list-style-type:disc;
}
ul.nice-menu-down li ul li ul,  {
	left: 12.5em;
	top: -1px;
	z-index: 700;
	height: 1px /* presumeably this gives the hasLayout thing */;
	background: white;
}
ul.nice-menu-down ul ul li {
	float: left;
	z-index: 900;
	height: 1px/* presumeably this gives the hasLayout thing */;
	background: white;
}
ul.nice-menu-down ul ul {
	border-bottom: 2px solid #e72f75;
	position: absolute;
	left: 12.5em;
	top: -0.5em;
	z-index: 900;
	height: 1px/* presumeably this gives the hasLayout thing */;
	background: white;
}
ul.nice-menu li ul li ul li {
	 min-height:36px;
  height:auto !important;
  height:36px;
}
ul.nice-menu a, ul.nice-menu a:link, ul.nice-menu a:visited, ul.nice-menu a:active {
	color: #444;
	text-decoration: none;
}
ul.nice-menu a:hover {
	color: #e72f75;
	text-decoration: none;
}
ul.nice-menu-down .menuparent a {
	padding-right: 15px;
}
#pagetemplate-main-content #comments {
	float: left;
	margin: 18px 10px 0;
	width: 620px;
}
#pagetemplate-main-content #comments .links ul {
	padding: 6px 0;
	width: 35%;
	height: 4em;
}
#pagetemplate-main-content #comments .links li {
	font-size: 0.9em;
	display: inline;
	height: 1em;
	width: 40px;
}
#pagetemplate-main-content #comments .links li a {
	display: block;
	height: 1em;
	width: 40px;
}
#pagetemplate-main-content table tbody tr td ul li {
	list-style-position: outside;
	margin: 0;
	padding: 0float:left;
	clear: both;
	list-style: disc;
}
#pagetemplate-main-content table {
	float: left;
	clear: both;
}
#pagetemplate-main-content table tbody tr td ul {
	list-style: disc outside;
}
#primarywidgetarea {
	float: left;
	display: inline;
}
#frontpagewidgetarea {
	float: left;
	display: inline;
}
#footer {
float:none;
left:0;
	bottom: 0;
	clear: both;
	margin: 0 auto;	
	width: 960px;
}

