

#menu {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(../images/menu-paper.png) no-repeat scroll center top;
	display: inline;
	float: left;
	font-weight: bold;
	height: 72px;
	margin-left: 10px;
	z-index: 1000;
	position: absolute;

}
#nav {
	clear: both;
}
#nav li {
	border: none;
	color: #FFFFFF;
	z-index: 20;
	letter-spacing: 0px;
	padding: 0;
	float: left;
	position: relative;
	list-style: none;
	display: inline;
	text-align: left;
	border-right: 1px dotted #dddddd;
}
#nav li.homelink a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(../images/home-icon.png) no-repeat scroll 10px 18px;
	padding-left: 40px;
	width: 50px;
}
#nav li.contactlink a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(../images/contact-icon.png) no-repeat scroll 10px 22px;
	padding-left: 40px;
}
#nav li a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent none repeat scroll 0 0;
	color: #444;
	display: block;
	font-size: 1.4em;
	font-weight: normal;
	letter-spacing: 0.01em;
	padding: 18px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
#nav li a:hover {
text-decoration: underline;
}

#menu .menu-3272 {
}

#menu .menu-3272 a {
	display: block;
	overflow: hidden;
	width: 25px;
	height: 24px;
	text-indent: -999em;
	background: url(../images/facebook-24.png) no-repeat center 18px;
}

/*
original nav css


#menu {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(../images/menu-paper.png) no-repeat scroll center top;
	display: inline;
	float: left;
	font-weight: bold;
	height: 72px;
	margin-left: 10px;
	z-index: 20;
}
#nav {
	clear: both;
}
#nav li {
	border: none;
	color: #FFFFFF;
	z-index: 20;
	letter-spacing: 0px;
	padding: 0;
	float: left;
	position: relative;
	list-style: none;
	display: inline;
	text-align: left;
	border-right: 1px dotted #dddddd;
}
#nav li.homelink a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(../images/home-icon.png) no-repeat scroll 10px 18px;
	padding-left: 40px;
	width: 50px;
}
#nav li.contactlink a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(../images/contact-icon.png) no-repeat scroll 10px 22px;
	padding-left: 40px;
}
#nav li a {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent none repeat scroll 0 0;
	color: #444;
	display: block;
	font-size: 1.4em;
	font-weight: normal;
	letter-spacing: 0.01em;
	padding: 18px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
#nav li a:hover {
text-decoration: underline;
}
*/